@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    overflow-x: hidden;
}


.dropmenu {
    @apply bg-accent;
}


.sidebar-visible {
    transition: left 0.3s ease-in-out; /* Adjust duration as needed */
    z-index: 10000; /* Ensure it's above other content */
}

.sidebar-hidden {
    width: 0; /* Adjust based on your sidebar/navbar's width */
    left: -100px;
}


/*.location {*/
/*    flex: .2;*/
/*}*/

/*.stop {*/
/*    flex: 1;*/
/*    width: 100%;*/
/*}*/

.eta {
    position: relative;
    text-align: center;
    z-index: 999;
}

.eta:after{
    content: "";
    display: block;
    height: 2px; /* This will be the thickness of the dotted line */
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;
    left: 0;
    border-style: dashed;
    @apply border-t-2 border-t-accent
}

.autocomplete-items {
    @apply absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    @apply cursor-pointer py-2 px-5 bg-white border-b-2 ;
}

.autocomplete-items div:hover {
    @apply bg-accent text-white;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}


.form-input {
    @apply w-full border border-[#c4c8ce] rounded;
}



.nav-links nav {
    @apply w-full
}

.crediCard.rearIsVsible {
    transform: rotateY(-180deg);
}

@keyframes fadeInOut {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.toast-animation {
    animation-name: fadeInOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.autoComplete_wrapper>input {
    @apply w-full
}



