@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




body {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
}


.dropmenu {
    @apply bg-accent;
}

/*.location {*/
/*    flex: .2;*/
/*}*/

/*.stop {*/
/*    flex: 1;*/
/*    width: 100%;*/
/*}*/

.eta {
    position: relative;
    text-align: center;
    z-index: 999;
}

.eta:after{
    content: "";
    display: block;
    height: 2px; /* This will be the thickness of the dotted line */
    width: 100%;
    position: absolute;
    top: 50%;
    z-index: -1;
    left: 0;
    border-style: dashed;
    @apply border-t-2 border-t-accent
}

.autocomplete-items {
    @apply absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    @apply cursor-pointer py-2 px-5 bg-white border-b-2 ;
}

.autocomplete-items div:hover {
    @apply bg-accent text-white;
}

.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}


.form-input {
    @apply w-full border border-[#c4c8ce] rounded;
}


.nav-links nav {
    @apply w-full
}

.crediCard.rearIsVsible {
    transform: rotateY(-180deg);
}

@keyframes fadeInOut {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.toast-animation {
    animation-name: fadeInOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

#search_container {
    position:relative; /* IMPORTANT */
}

#search_{
    border:0; /* HAS TO BE SIMILAR TO #autocomplete */
    font-size:14px; /* HAS TO BE SIMILAR TO #autocomplete */
    padding:10px; /* IMPORTANT */

    /* FOR DESIGN PURPOSE */
    outline:0;
    color: #f8fafd;
    width: 100%;
    border-bottom:1px solid rgba(255,255,255,0.3);
    background-color: rgba(0,0,0,0);
    font-family: 'Inconsolata', monospace;
    /* ================== */
}

#search_::placeholder {
    color: #f8fafd; /* FOR DESIGN PURPOSE */
}

#autocomplete {
    position: absolute; /* IMPORTANT */
    z-index: -1; /* IMPORTANT */
    border:0; /* HAS TO BE SIMILAR TO #search_ */
    font-size:14px; /* HAS TO BE SIMILAR TO #search_ */
    left: 10px; /* ACCORDING TO THE LEFT-PADDING OF #search_ */
    top:10px; /* ACCORDING TO THE TOP-PADDING OF #search_ */

    /* FOR DESIGN PURPOSE */
    background-color: rgba(0,0,0,0);
    font-family: 'Inconsolata', monospace;
    color: rgba(248,250,253,0.4);
    width: 100%;
    /* ================== */
}

